@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side-bar-width: 17rem;

  --primary-light: #2ed7a7;
  --primary-dark: #16775c;

  --primary: var(--primary-dark);
  --on-primary: #ffffff;
  --secondary: #1f2937;
  --on-secondary: #ffffff;
  --secondary-dim: #000;
  --on-secondary-dim: #ffffff;

  --surface: #f3f4f5;
  --on-surface: #000;
  --on-surface-muted: #6b7280;

  --surface-dim: #e5e7eb;
  --on-surface-dim: #000;
  --on-surface-dim-muted: #6b7280;

  --surface-container: #ffffff;
  --on-surface-container: #000;
  --on-surface-container-muted: #6b7280;

  --surface-dim-container: #f3f4f6;
  --on-surface-dim-container: #000;
  --on-surface-dim-container-muted: #6b7280;

  --outline: #d1d5db;
  --outline-variant: #e5e7eb;

  --danger: #b91c1c;
  --on-danger: #ffffff;

  --danger-dim: #991b1b;
  --on-danger-dim: #ffffff;

  --backdrop: rgba(0, 0, 0, 0.1);

  /*
  --books-and-theses: #f8c91f;
  --journal-articles: #ab4173;
  --conference-and-workshop-papers: #3262a4;
  --parts-in-books-or-collections: #ef942d;
  --editorship: #56c1b7;
  --reference-works: #b6d235;
  --data-and-artifacts: #885522;
  --informal-and-other: #626a70;
  */

  --books-and-theses: #ffdc63;
  --journal-articles: #ffa3cd;
  --conference-and-workshop-papers: #94b5e0;
  --parts-in-books-or-collections: #fcbf79;
  --editorship: #87c9c3;
  --reference-works: #d3e38f;
  --data-and-artifacts: #b58b62;
  --informal-and-other: #b1b2b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--primary-light);
    --on-primary: #ffffff;
    --secondary: #f3f4f6;
    --on-secondary: #000;
    --secondary-dim: #d1d5db;
    --on-secondary-dim: #000;

    --surface: #000;
    --on-surface: #f3f4f5;
    --on-surface-muted: #9ca3af;

    --surface-dim: #1f2937;
    --on-surface-dim: #f3f4f5;

    --surface-container: #111827;
    --on-surface-container: #f3f4f5;

    --surface-dim-container: #1f2937;
    --on-surface-dim-container: #f3f4f5;

    --outline: #374151;
    --outline-variant: #1f2937;

    --books-and-theses: #ffeeb3;
    --journal-articles: #fcd2e5;
    --conference-and-workshop-papers: #d4e5fc;
    --parts-in-books-or-collections: #ffd5a6;
    --editorship: #c8e8e5;
    --reference-works: #e3f0aa;
    --data-and-artifacts: #d9b898;
    --informal-and-other: #d7d9db;
  }
}

body {
  @apply text-on-surface bg-surface;
}

@supports selector(body:has(dialog[open])) {
  body:has(dialog[open]) {
    @apply overflow-y-hidden;
  }
}

::selection {
  @apply text-white bg-[var(--primary-dark)];
}

input::selection {
  @apply text-white bg-gray-800;
}

@media (prefers-color-scheme: dark) {
  input::selection {
    @apply text-gray-900 bg-gray-100;
  }
}

.dialog {
  @apply bg-surface-container border border-outline-variant text-on-surface-container rounded-lg backdrop:backdrop-blur-md;
}

.flex-dialog[open] {
  @apply flex flex-col;
}

@supports selector(.has-focus-visible-outline:has(:focus-visible)) {
  .has-focus-visible-outline:has(:focus-visible) {
    @apply outline outline-2 outline-offset-4;
  }
}

.with-logo::before {
  content: "";
  background-image: url("/logo.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @apply block self-stretch w-7 h-8 xs:w-8 xs:h-10;
}

@media (prefers-color-scheme: dark) {
  .with-logo::before {
    background-image: url("/logo_dark.svg");
  }
}

.link-heading svg {
  @apply translate-x-0 transition-transform;
}

.link-heading:hover svg {
  @apply translate-x-1/4 transition-transform;
}

@layer components {
  .btn {
    @apply grid place-content-center grid-flow-col rounded-lg text-sm font-medium transition-colors disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-default {
    @apply bg-secondary text-on-secondary hover:bg-secondary-dim hover:text-on-secondary-dim;
  }

  .btn-destructive {
    @apply bg-danger text-on-danger hover:bg-danger-dim hover:text-on-danger-dim;
  }

  .btn-outline {
    @apply bg-surface-container text-on-surface-container border border-outline hover:bg-surface-dim-container hover:text-on-surface-dim-container;
  }

  .btn-xs {
    @apply min-h-[1.75rem] px-2 py-1 text-xs;
  }

  .btn-sm {
    @apply min-h-[2rem] px-3 py-1;
  }

  .btn-md {
    @apply min-h-[2.25rem] px-3 py-1;
  }

  .btn-lg {
    @apply min-h-[2.75rem] px-6 py-1;
  }
}
