@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side-bar-width: 17rem;

  --accent-dark: #16775c;
  --accent-light: #2ed7a7;

  --accent: var(--accent-dark);
  --foreground: #000;
  --background: #f3f4f5;
  --backdrop: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: var(--accent-light);
    --foreground: #f3f4f5;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@supports selector(.has-focus-visible-outline:has(:focus-visible)) {
  body:has(dialog[open]) {
    @apply overflow-hidden;
  }
}

::selection {
  color: white;
  background-color: var(--accent-dark);
}

input::selection {
  @apply text-white bg-gray-800;
}

@media (prefers-color-scheme: dark) {
  input::selection {
    @apply text-gray-900 bg-gray-100;
  }
}

.dialog {
  @apply bg-gray-50 border text-[var(--foreground)] border-gray-200 rounded-lg backdrop:backdrop-blur-md;
}

@media (prefers-color-scheme: dark) {
  .dialog {
    @apply bg-gray-900 border-gray-800;
  }
}

.search-dialog[open] {
  display: flex;
  flex-direction: column;
}

@supports selector(.has-focus-visible-outline:has(:focus-visible)) {
  .has-focus-visible-outline:has(:focus-visible) {
    @apply outline outline-2 outline-offset-4;
  }
}

.with-logo::before {
  content: "";
  display: block;
  align-self: stretch;
  background-image: url("/logo.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @apply w-7 h-8 xs:w-8 xs:h-10;
}

@media (prefers-color-scheme: dark) {
  .with-logo::before {
    background-image: url("/logo_dark.svg");
  }
}

@layer components {
  .btn {
    @apply grid place-content-center grid-flow-col rounded-lg text-sm font-medium transition-colors disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-default {
    @apply bg-gray-800 text-white hover:bg-black dark:bg-gray-100 dark:text-black dark:hover:bg-gray-300;
  }

  .btn-destructive {
    @apply bg-red-700 text-white hover:bg-red-800 dark:hover:bg-red-700;
  }

  .btn-outline {
    @apply border bg-white text-black border-gray-300 hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800;
  }

  .btn-xs {
    @apply h-7 px-2 text-xs;
  }

  .btn-sm {
    @apply h-8 px-3;
  }

  .btn-md {
    @apply h-9 px-3;
  }

  .btn-lg {
    @apply h-11 px-6;
  }
}
