@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #f3f4f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f3f4f5;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.with-logo::before {
  content: '';
  display: block;
  background-image: url('/logo.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2.5rem;
  align-self: stretch;
}

@media (prefers-color-scheme: dark) {
  .with-logo::before {
    background-image: url('/logo_dark.svg');
  }
}

@layer components {
  .btn {
    @apply grid place-content-center rounded-lg text-sm font-medium transition-colors disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-default {
    @apply bg-gray-800 text-white hover:bg-black dark:bg-gray-200 dark:text-black dark:hover:bg-gray-100;
  }

  .btn-destructive {
    @apply bg-red-700 text-white hover:bg-red-800 dark:hover:bg-red-700;
  }

  .btn-outline {
    @apply border bg-gray-50 text-black border-gray-300 hover:bg-gray-100 dark:bg-gray-900 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800;
  }

  .btn-sm {
    @apply h-9 px-2;
  }

  .btn-md {
    @apply h-10 px-4;
  }

  .btn-lg {
    @apply h-11 px-8;
  }
}